.albumIcon{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cardHover {
    transition: transform 0.3s ease;
  }
  
  .cardHover:hover {
    transform: translateY(-5px);
  }